{% sw_extends '@Storefront/storefront/layout/navigation/navigation.html.twig' %}

{% block layout_main_navigation_menu_item %}
{% if charities and category.type != 'folder' %}
    <a
        class="nav-link main-navigation-link{% if charity.translated.name == name %} active{% endif %}"
        href="{{ category_url(category) }}"
        itemprop="url"
        {% if treeItem.children|length > 0 %}data-flyout-menu-trigger="{{ category.id }}"{% endif %}
        {% if category_linknewtab(category) %}target="_blank"{% endif %}
        title="{{ name }}">
        <div class="main-navigation-link-text">
            <span itemprop="name">{{ name }}</span>
        </div>
    </a>
{% else %}
{{ parent() }}
{% endif %}
{% endblock %}
